.new {
  display: flex;
  justify-content: center;
  background-color: #e6e3c4;
  height: 1038px;
  max-width: 1920px;

  background-color: #e6e3c4;
  align-content: center;
}

.new__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1100px;
  max-height: 878px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
}

.new__text-left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  min-height: 758px;
  max-width: 445px;

}

.new__text-pictures {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  min-height: 758px;
  max-width: 540px;

}

.new__text-bottom-images {
 display: flex;
 justify-content: space-between;
}

.new__line {
  border-bottom: 1px solid #282828;
  min-width: 160px;
}

.new__first-description {
  max-width: 445px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

.new__spreadsheet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new__cells {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new__year {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #282828;
  border-right: 1px solid #282828;
  min-width: 75px;
  min-height: 73px;
  margin: auto;
  text-align: center;
}

.new__year-last {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #282828;
  min-width: 75px;
  min-height: 73px;
  margin: auto;
  text-align: center;
}

.new__item {
  border-bottom: 1px solid #282828;
  min-width: 370px;
  min-height: 73px;
  text-align: left;
  padding-left: 30px;
  line-height: 50%;
}

.new__item-last {
  min-width: 370px;
  max-height: 73px;
  text-align: left;
  padding-left: 30px;
  line-height: 50%;
}

.new__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #282828;
}

.new__last-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

.new__glass-image {
  max-width: 540px;
  max-height: 500px;
}

.new__bottles-left {
  max-width: 255px;
  max-height: 228px;
}

.new__bottles-right {
  max-width: 255px;
  max-height: 228px;
}

.new_button-more {
  background-color: #998431;
  text-decoration: none;
  color: white;
  border: none;
  min-width: 254px;
  height: 50px;
}
