.new {
  display: flex;
  justify-content: center;
  background-color: var(--white-background);
  height: 1038px;
  width: 100%;
  align-content: center;
}

.new__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  max-height: 878px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border-top: 1px solid var(--yellow-background);
  border-bottom: 1px solid var(--yellow-background);
}

.new__text-left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  min-height: 758px;
  max-width: 45%;
}

.new__text-pictures {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 460px;
  max-width: 45%;
}

.new__text-bottom-images {
  display: flex;
  justify-content: space-between;
}

.new__line {
  border-bottom: 1px solid var(--gray-background);
  min-width: 160px;
}

.new__first-description {
  min-width: 45%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-background);
}

.new__spreadsheet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.new__cells {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new__year {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--gray-background);
  border-right: 1px solid var(--gray-background);
  min-width: 75px;
  min-height: 73px;
  margin: auto;
  text-align: center;
}

.new__year-last {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid var(--gray-background);
  min-width: 75px;
  min-height: 73px;
  margin: auto;
  text-align: center;
}

.new__item {
  border-bottom: 1px solid var(--gray-background);
  width: 100%;
  min-height: 73px;
  text-align: center;
  line-height: 50%;
}

.new__item-last {
  width: 100%;
  max-height: 73px;
  text-align: center;
  line-height: 50%;
}

.new__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--gray-background);
}

.new__last-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-background);
}

.new__button-more {
  background-color: var(--yellow-background);
  text-decoration: none;
  color: var(--white);
  border: none;
  min-width: 254px;
  height: 50px;
}

.new__button-more:hover {
  background-color: var(--gray-background);
  color: var(--yellow-background);
}

.new__button-more:active {
  background-color: var(--yellow-background);
  color: var(--white);
}

.new__glass-image {
  width: 320px;
}

.new__bottles-left,
.new__bottles-right {
  max-height: 228px;
  width: 150px;
}

@media (max-width: 1440px) {
  .new__text {
    max-width: 900px;
  }

  .new__item h3,
  .new__item-last h3 {
    font-size: 16px;
  }

  .new__text-pictures {
    max-width: 440px;
  }
}

@media (max-width: 1024px) {
  .new__text {
    max-width: 700px;
  }

  .new__item h3,
  .new__item-last h3 {
    font-size: 12px;
  }

  .new__description {
    font-size: 11px;
  }

  .new__text-pictures {
    max-width: 45%;
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  .new__text {
    max-width: 600px;
  }

  .new__item h3,
  .new__item-last h3 {
    font-size: 10px;
  }

  .new__description {
    font-size: 10px;
  }

  .new__text-pictures {
    max-width: 45%;
    min-height: 400px;
  }

  .new__glass-image {
    width: 270px;
  }

  .new__bottles-left,
  .new__bottles-right {
    max-height: 228px;
    width: 130px;
  }
}

@media (max-width: 600px) {
  .new {
    height: 1400px;
  }
  .new__text {
    max-width: 380px;
    max-height: 100%;
    flex-direction: column;
  }
  .new__text-left {
    align-items: center;
    max-width: 90%;
  }
  .new__item h3,
  .new__item-last h3 {
    font-size: 14px;
  }

  .new__description {
    font-size: 13px;
  }

  .new__text-pictures {
    max-width: 80%;
    min-height: 380px;
  }
}

@media (max-width: 414px) {
  .new {
    height: 1400px;
  }
  .new__text {
    max-width: 380px;
    max-height: 100%;
    flex-direction: column;
  }
  .new__text-left {
    align-items: center;
    max-width: 90%;
  }

  .new__item,
  .new__item-last,
  .new__year,
  .new__year-last {
    line-height: 90%;
    min-height: 100px;
  }

  .new__item h3,
  .new__item-last h3 {
    font-size: 14px;
  }

  .new__description {
    font-size: 13px;
  }

  .new__text-pictures {
    max-width: 80%;
    min-height: 380px;
  }

  .new__glass-image {
    width: 240px;
  }

  .new__bottles-left,
  .new__bottles-right {
    max-height: 228px;
    width: 115px;
  }
}
