html,
body,
footer {
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1110px;
  max-width: 100%;
  padding: 0;
  border: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--white);
}

:root {
  --gray-background: #282828;
  --yellow-background: #99862a;
  --white-background: #e6e3c4;
  --white: #fff;
  --menu-active: #775814;
  --border-line: #c4c4c4;
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 767px;
  }
}
