.tasting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-background);
  min-height: 768px;
}

.tasting__main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1110px;
  min-height: 538px;
  border-left: 3px solid var(--border-line);
  border-bottom: 3px solid var(--border-line);
  border-right: 3px solid var(--border-line);
}

.tasting__center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  min-height: 450px;
}

.tasting__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasting__title::before,
.tasting__title::after {
  content: "";
  width: 118px;
  height: 3px;
  background-color: var(--border-line);
}

.tasting__degustation {
  font-family: "Playfair Display", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  width: 500px;
}

.tasting__line {
  width: 118px;
  border: 1px solid var(--white);
}

.tasting__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
}

.tasting__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tasting__form-name,
.tasting__form-phone {
  min-width: 255px;
  min-height: 30px;
  color: var(--white);
  background: var(--gray-background);
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0;
  margin: 0;
}

.tasting__form-top {
  display: flex;
  justify-content: space-between;
}

.tasting__form-address {
  min-width: 540px;
  color: var(--white);
  background: var(--gray-background);
  border: none;
  border-bottom: 1px solid var(--white);
  min-height: 30px;
}

.tasting__form-button {
  min-width: 540px;
  min-height: 50px;
  color: var(--white);
  background: var(--gray-background);
  border: 1px solid var(--white);
}

.tasting__form-button:hover {
  color: var(--white);
  background: var(--yellow-background);
}

.tasting__form-button:active {
  color: var(--white);
  background: var(--gray-background);
}

.tasting__grapes {
  max-width: 260px;
  max-height: 260px;
  margin-right: 100px;
}

.tasting__barrel {
  max-width: 260px;
  max-height: 260px;
  margin-left: 100px;
}

@media (max-width: 1440px) {
  .tasting__main {
    max-width: 900px;
  }
  .tasting__degustation {
    width: 470px;
  }

  .tasting__title::before,
  .tasting__title::after {
    width: 60px;
  }
  .tasting__grapes {
    max-width: 184px;
    max-height: 184px;
    margin-right: 30px;
  }

  .tasting__barrel {
    max-width: 184px;
    max-height: 184px;
    margin-left: 30px;
  }

  .tasting__form-address {
    padding-top: 10px;
  }
}

@media (max-width: 1024px) {
  .tasting__main {
    max-width: 700px;
  }
  .tasting__degustation {
    width: 450px;
  }

  .tasting__title::before,
  .tasting__title::after {
    width: 30px;
  }
  .tasting__grapes {
    max-width: 154px;
    max-height: 184px;
    margin-right: 5px;
  }

  .tasting__barrel {
    max-width: 20%;
    max-height: 184px;
    margin-left: -35px;
  }
}

@media (max-width: 768px) {
  .tasting__main {
    max-width: 600px;
    width: 80%;
  }
  .tasting__degustation {
    min-width: 60%;
    font-size: 24px;
  }

  .tasting__center {
    max-width: 80%;
  }

  .tasting__title::before,
  .tasting__title::after {
    width: 5%;
  }
  .tasting__grapes {
    max-width: 124px;
    max-height: 124px;
    margin-right: -30px;
    padding-right: auto;
  }

  .tasting__barrel {
    max-width: 20%;
    max-height: 20%;
    margin-left: -50px;
  }

  .tasting__form-top {
    flex-direction: column;
  }

  .tasting__form-name,
  .tasting__form-phone {
    min-width: 50%;
  }

  .tasting__form-button {
    min-width: 30%;
  }
  .tasting__form-address {
    min-width: 50%;
  }
}

@media (max-width: 600px) {
  .tasting__main {
    border-top: 3px solid var(--border-line);
  }

  .tasting__center {
    max-width: 80%;
  }

  .tasting__title::before,
  .tasting__title::after {
    width: 0px;
  }

  .tasting__grapes,
  .tasting__barrel {
    display: none;
  }
}

@media (max-width: 414px) {
  .tasting {
    min-height: 600px;
  }

  .tasting__main {
    max-width: 380px;
    border-top: 3px solid var(--border-line);
  }

  .tasting__center {
    max-width: 80%;
  }

  .tasting__degustation {
    max-width: 150px;
  }

  .tasting__title::before,
  .tasting__title::after {
    width: 0px;
  }
  .tasting__grapes,
  .tasting__barrel {
    display: none;
  }

  .tasting__form {
    max-width: 90%;
  }
  .tasting__form-name,
  .tasting__form-phone {
    min-width: 80px;
  }

  .tasting__form-button {
    min-width: 140px;
  }
  .tasting__form-address {
    min-width: 150px;
  }
}
