.text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
  height: 100%;
  background-color: var(--gray-background);
  margin: 0;
  padding: 0;
  border: 0;
}

.text__border {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 656px;
  min-width: 1110px;
  border: 3px solid var(--border-line);
  color: var(--white);
}

.text__slogan {
  font-family: "Playfair Display", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.text__line {
  align-self: center;
  border: 0.5px solid var(--white);
  width: 160px;
}
.text__text {
  margin-top: 40px;
  max-width: 733px;
  color: var(--white);
}

.text__wineglass {
  height: 160px;
  width: 160px;
  margin-top: 50px;
  align-self: right;
  background-image: url("../images/wineglass.png");
}

@media (max-width: 1440px) {
  .text__border {
    min-width: 900px;
  }
}

@media (max-width: 1024px) {
  .text__border {
    min-width: 700px;
  }

  .text__text {
    max-width: 600px;
  }

  .text__slogan {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .text__border {
    min-width: 600px;
  }

  .text__slogan {
    font-size: 24px;
  }
  .text__text {
    max-width: 550px;
  }
}

@media (max-width: 414px) {
  .text {
    min-height: 700px;
  }

  .text__border {
    min-width: 380px;
  }

  .text__slogan {
    font-size: 17px;
  }
  .text__text {
    max-width: 340px;
  }
}
